.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p{
    text-decoration: none;
    color: aliceblue;
  }
}
.card_between{
  display: flex;
  justify-content: space-between;
}

.card-product {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;

  a {
    z-index: 1;
  }

  &:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
    transform: translateY(-0.3rem);
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.card-product-infos{
  display: flex;
  justify-content: space-between;
}
.card-cont{
  width: 100%;
}

/* Card - Trip */

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card_main{
  display: flex;
  height: 100%;
}

.card_img{
  object-fit: cover;
  border-radius: 10px;
}

.info_card{
  padding: 35px;
  margin-left: 15px;
  box-shadow: 0 0 10px #e5e5e5;
  border: 1px solid lightgray;
  border-radius: 10px;
  word-break: break-all;
  height: min-content;
}

.description{
  color: rgb(149, 149, 149);
}
