.name_logo{
  width: auto;
  height: 20px;
  object-fit: cover;
}

.container{
  // display: flex;
  // justify-content: center;
  position: relative;
  height: 90vh;
}

.btn_back{
  position: absolute;
  bottom: 15px;
  right: 15px;
}
