<div class="container">
  <h1>Meus anúncios</h1>

<div class="container">
  <div class="row">
    <% @feelings.each do |feeling| %>
      <div class="col-4 mt-3">
        <div class="card-product">
        <% if feeling.photo.key %>
          <%= cl_image_tag feeling.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-cont">
          <div class="card-product-infos">
            <div class="card_info">
              <h2><%= feeling.name %></h2>
              <p><strong><%= feeling.percentage %>%</strong></p>
              <% if feeling.user == current_user %>
              <span class="badge rounded-pill text-bg-info">My feelings</span>
              <% end %>
            </div>
              <div class="card_btn">
              <p><%= link_to "Detalhes", feeling_path(feeling) %></p>
              </div>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
